
$primary-font-family : 'Roboto', 'PT Sans', sans-serif, Helvetica, Arial;

$dark-text-color: rgb(0,0,0); // dark text on light background
$primary-dark-text-color: rgba($dark-text-color, .87); 
$secondary-dark-text-color: rgba($dark-text-color, .54);
$disabled-dark-text-color: rgba($dark-text-color, .26);
$divider-dark-text-color: rgba($dark-text-color, .12);


$light-text-color: rgb(255,255,255); //light text on dark background
$primary-light-text-color: rgba($light-text-color, 1); 
$secondary-light-text-color: rgba($light-text-color, .70);
$disabled-light-text-color: rgba($light-text-color, .30);

$primary-color: rgb(0, 188, 212);
$primary-color-contrast: rgb(66, 66, 66);
$primary-color-dark:  rgb(0, 151, 167);
$accent-color: rgb(68, 138, 255);
$accent-color-contrast: rgb(255, 255, 255);

