
/* begin bottom nav styling */
.bottom-nav-container
{
//take away the padding applied by foundation .column
  padding-left: 0px;
  padding-right: 0px;
}

.bottom-nav
{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 32px;
  justify-content: space-between;
  margin-bottom: 12px;
//  margin-left: 15px;
//  margin-right: 15px;
  margin-top: 12px;
}

.bottom-nav i {
  background-color: $accent-color;
  border-radius: 30px;
}

.bottom-nav i:hover {
    opacity: 0.5;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

/* begin bottom nav styling */