
/* post styles _post.scss */

.post {
  margin-top: 50px;
  //border-radius: 2px;
  box-shadow: $default-boxshadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 10px;
/* hack to make sure footer shows up towards the bottom for pages with not much content. 
must revisit. there must be a better way
*/
    min-height: 10%;
    
      .headerimage {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      position: relative;
      min-height: 100px;
      background-color: $primary-color;
        
        img
        {
            height:100%;

        }
        
        .title {
          position: absolute;
          bottom: 0px;
          left: 0px;
          padding: 20px;
           h4 {
                font-family: $primary-title-font-family;
                color: $primary-light-text-color;
                margin: 0px;
                padding: 0px;
              }
        }
      
    }
}

.post 
{
  .authorinfo {
  align-items: center;
  box-sizing: border-box;
  color: $disabled-dark-text-color;
  display: flex;
  flex-direction: colum;
  font-size: 13px;
  font-weight: normal;
  justify-content: flex-start;
  padding: 20px;
  
  img {
      width: 50px;
      height: 50px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      }
      
  span {
        color: $disabled-dark-text-color;
        display: block;
        padding-left:5px;
    }
  }
  
  .content {
  align-items: center;
  color: $secondary-dark-text-color;
  padding:20px;
  
      pre{
        background-color: $primary-color-contrast;  
        padding: 2px;
        }

    }
  
      .action {
      border-top: 1px solid $divider-dark-text-color;
      padding: 1.3rem;
      
              a {
          color: $accent-color;
          transition: color 0.3s ease;
          text-transform: uppercase;
          text-decoration: none;
        }
    }
}




/* end post styles _post.scss */