/* Top Nav styles */

$top-nav-background: rgb(255,255,255);
$top-nav-bottom: 1px solid $divider-dark-text-color;


.namelogo h1 {
    font-family: $primary-font-family;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

@media only screen and (min-width: 40.063em) {
    .namelogo h1 {
        font-size: 20px;
        text-align: center;
    }
}

@media only screen and (min-width: 64.063em) {
    .namelogo h1 {
        font-size: 24px;
        text-align: left;
    }
}

.contain-to-grid {
        background: $top-nav-background;
    border-bottom: $top-nav-bottom;
}

.top-bar {
    background: $top-nav-background;
    .name
    {
        h1
        {
            a{
                width: auto;            
            }
        }
    }
}
    


