@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en");
@import url("http://fonts.googleapis.com/icon?family=Material+Icons");
body {
  font-family: "Roboto", "PT Sans", sans-serif, Helvetica, Arial;
  background-color: rgba(0, 0, 0, 0.02);
  /* set back ground image for the page */
  /* background-image: url('../img/hero.jpg'); */
  background-size: cover;
  background-attachment: fixed;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

/* Top Nav styles */
.namelogo h1 {
  font-family: "Roboto", "PT Sans", sans-serif, Helvetica, Arial !important;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center; }

@media only screen and (min-width: 40.063em) {
  .namelogo h1 {
    font-size: 20px;
    text-align: center; } }

@media only screen and (min-width: 64.063em) {
  .namelogo h1 {
    font-size: 24px;
    text-align: left; } }

.contain-to-grid {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.top-bar {
  background: white; }
  .top-bar
.name
h1 a {
    width: auto; }

/* post styles _post.scss */
.post {
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 4px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white; }
  .post .headerimage {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    min-height: 100px;
    background-color: #00bcd4; }
    .post .headerimage .title {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 20px;
      color: #424242; }
      .post .headerimage .title h3 {
        font-family: "Roboto", "PT Sans", sans-serif, Helvetica, Arial !important;
        color: white;
        margin: 0px;
        padding: 0px; }

.post .authorinfo {
  align-items: center;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: colum;
  font-size: 13px;
  font-weight: normal;
  justify-content: flex-start;
  padding: 15px; }
  .post .authorinfo img {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px; }
  .post .authorinfo span {
    color: rgba(0, 0, 0, 0.26);
    display: block;
    padding-left: 5px; }

.post .content {
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  padding: 15px; }

/* end post styles _post.scss */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

/* begin bottom nav styling */
.bottom-nav-container {
  padding-left: 0px;
  padding-right: 0px; }

.bottom-nav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 32px;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 12px; }

.bottom-nav i {
  background-color: #448aff;
  border-radius: 30px; }

.bottom-nav i:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }

/* begin bottom nav styling */
.footer {
  background-color: #424242; }

.footer p.slogan {
  color: #8d9093;
  font-size: 1.8rem;
  margin: 0 0 1rem; }

.footer p.copywrite {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.875rem;
  margin: 0; }

.footer .links a {
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 3rem 0 2rem;
  margin: 0; }

.footer .links a::after {
  content: "•";
  padding: 0 0.4rem 0 0.8rem; }

.footer .links a:last-child::after {
  content: "";
  padding: 0 0.4rem 0 0.8rem; }

/*# sourceMappingURL=site.css.map */